<div class="hsi-controls">
        OBS:<button (click)="setObs(-20)">-20</button>
        <button (click)="setObs(-5)">-5</button>
        <button (click)="setObs(-1)">-1</button>
        <button (click)="setObs(1)">+1</button>
        <button (click)="setObs(5)">+5</button>
        <button (click)="setObs(20)">+20</button>
<br/>
        BUG:<button (click)="setBug(-20)">-20</button>
        <button (click)="setBug(-5)">-5</button>
        <button (click)="setBug(-1)">-1</button>
        <button (click)="setBug(1)">+1</button>
        <button (click)="setBug(5)">+5</button>
        <button (click)="setBug(20)">+20</button>
</div>
