<div class="hsi-controls">
    <table>
        <tr>
            <td>OBS:</td>
            <td><button mat-raised-button (click)="setObs(-20)">-20</button></td>
            <td><button mat-raised-button (click)="setObs(-5)">-5</button></td>
            <td><button mat-raised-button (click)="setObs(-1)">-1</button></td>
            <td><button mat-raised-button (click)="setObs(1)">+1</button></td>
            <td><button mat-raised-button (click)="setObs(5)">+5</button></td>
            <td><button mat-raised-button (click)="setObs(20)">+20</button></td>
        </tr>
        <tr>
            <td>BUG:</td>
            <td><button mat-raised-button (click)="setBug(-20)">-20</button></td>
            <td><button mat-raised-button (click)="setBug(-5)">-5</button></td>
            <td><button mat-raised-button (click)="setBug(-1)">-1</button></td>
            <td><button mat-raised-button (click)="setBug(1)">+1</button></td>
            <td><button mat-raised-button (click)="setBug(5)">+5</button></td>
            <td><button mat-raised-button (click)="setBug(20)">+20</button></td>
        </tr>
    </table>
</div>
