<div class="asi">
        <app-threed [sizeX]="300"  [sizeY]="300"></app-threed>
        <!--as: <input [(ngModel)]="airspeed" (keyup.enter)="setSpeed(airspeed)"/>-->
</div>
  <!--<span>ASI KTS: <span> {{ airspeed }}</span></span><br/>-->
  <!--<span>GS  KTS: <span> {{ groundspeed }}</span></span><br/>
  <span>VSI FPS: <span> {{ verticalspeed }}</span></span><br/>
  <span>Altitude FT: <span> {{ altitude }}</span></span><br/>
  <span>Heading: <span> {{ heading }}</span></span><br/>
  <span>Bank: <span> {{ bank }}</span></span><br/>
  <span>Pitch: <span> {{ pitch }}</span></span><br/>
  <span>turn dps: <span> {{ turnRate }}</span></span><br/>
  <span>slip deg: <span> {{ slip }}</span></span><br/>-->
