<img class="fascia" src="assets/fascia.gif"/>
<!--<app-threed [sizeX]="1024"  [sizeY]="1024"></app-threed>-->
<table class="panel">
        <tbody>
        <tr>
                <td> <app-asi>ASI</app-asi> </td>
                <td> <app-ai>AI</app-ai> </td>
                <td> <app-altimeter>ALT</app-altimeter> </td>
                <td> <app-ems>EMS</app-ems> </td>
        </tr>
        <tr>
                <td> <app-tc>TC</app-tc> </td>
                <td> <app-hsi>HSI</app-hsi> </td>
                <td> <app-vsi>VSI</app-vsi> </td>
                <td> <app-dme>DME</app-dme> <app-chsi>CHSI</app-chsi>  </td>
        </tr>
        </tbody>
</table>
